<!DOCTYPE html>
<html>
<head>
  <title>DesignpatternDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

<hr>
	<p>
	<% if user_login_signed_in? %>
		<%= link_to "Sign Out", destroy_user_login_session_path, method: :delete %>
	<% else %>
		<%= link_to "Sign In", new_user_login_session_path %>
	<% end %>
	</p>


</body>
</html>
